@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 1px black;
}

body {
  background-color: #8C602A;
  box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30rem;
    height: 5rem;
    padding-left: 1rem;
}

.icons__minhaFoto {
    width: 5rem;
    height: 5rem;
}

.headerText {
    width: 34rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 5rem;
    padding-right: 1rem;
}

.icons__socialMedia {
    width: 2rem;
    height: 2rem;
    padding: 0 ;
}

main {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    scale: 90%;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 42rem;
    height: 46rem;
}

.section1__input__text {   
    font-size: 2rem;
    color: #F2C53D;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    padding: 2rem;
    width: 38rem;
    height: 26rem;

}

.section1__input__text::placeholder {
    color: #F2C53D;
}

.section1__alert {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    color: #F2F2F2;
}

.section1__bottom {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    flex-direction: column;
}

.section1__bottom__alert {
    display: flex;
    align-items: center;
}

.section1__bottom__alert__icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}

.section1__bottom__alert__text {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    color: #F2F2F2;

}

.section1__bottom__btn {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}

.section1__bottom__btn__encrypt {
    width: 20.5rem;
    height: 4rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: #F2C53D;
    color: #8C602A;
    border-color: #26261D;
}

.section1__bottom__btn__uncrypt {
    width: 20.5rem;
    height: 4rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: #F2F2F2;
    color: #8C602A;
    border-color: #26261D;
}

.section2 {
    background-color: #F2F2F2;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 36rem;
    height: 54rem;
}

.section2__figure {
    display: flex;
    justify-content: center;
}

.section2__figure__image {
    width: 21rem;
    height: 19rem;
    padding: 5rem 2.5rem;
}

.section2__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.section2__content__subtitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.section2__content__text {
    display: flex;
    text-align: center;    
    font-size: 1.5rem;
    color: #8C602A;
}

.section2__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 32rem;
    height: 54rem;
    display: none;
}

.message {
    font-size: 2rem;
    color: #8C602A;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    padding: 2rem;
    width: 30rem;
    height: 34rem;
}

.section2__bottom__btncopy {
    width: 20.5rem;
    height: 4rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: #F2C53D;
    color: #8C602A;
    border-color: #26261D;
}